<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
    <link rel="stylesheet" href="addProduct.css">
</head>
<body>
    
    <h1>Add a new product</h1>
    <hr>

    <form class="totalForm">
        <div class="formGroup">
            <input type="text" id="name" class="inputForm" placeholder="Product's Name" autofocus>
        </div>
        <div class="formGroup">
            <input type="text" id="price" class="inputForm" placeholder="Price">
        </div>
        <div class="formGroup">
            <input type="text" id="description" class="inputForm" placeholder="Description">
        </div>
        <button class="addButton">
            Add product
        </button>
    </form>
    <button class="cancelButton" onclick="closeWindow()">
        Cancel
    </button>

    <script src="addProduct.js"></script>

    <script>
        function closeWindow(){
            window.close();
        }
    </script>

</body>
</html>