* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #262b33;
    font-family: "bahnschrift", "Helvetica";
    text-align: center;
}

h1 {
    color: #3DD5B4;
    padding-top: 20px;
    padding-bottom: 10px;
}

hr {
    border: 1px solid #3DD5B4;
    height: 1px;
    width: 90%;
    margin: auto;
}

.totalForm {
    width: 80%;
    margin: auto;
}

.formGroup {
    margin-bottom: 10%;
    margin-top: 10%;
}

.inputForm {
    background-color: #404753;
    color: #fff;
    font-size: 14px;
    width: 100%;
    padding: 3%;
    border-radius: 10px;
    border: 0;
    outline: none;
}

.acceptButton {
    padding: 2.5%;
    font-size: 18px;
    width: 100%;
    background-color: #3DD5B4;
    border: 2px solid #3DD5B4;
    color: #262b33;
    border-radius: 10px;
    outline: none;
}

.acceptButton:hover{
    background-color: #262b33;
    border: 2px solid #3DD5B4;
    color: #3DD5B4;
}

.cancelButton {
    padding: 2%;
    font-size: 18px;
    width: 80%;
    background-color: #3DD5B4;
    border: 2px solid #3DD5B4;
    color: #262b33;
    border-radius: 10px;
    outline: none;
    margin-top: 2.5%;
}

.cancelButton:hover{
    background-color: #262b33;
    border: 2px solid #3DD5B4;
    color: #3DD5B4;
}