<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit product</title>
    <!-- CSS -->
    <link rel="stylesheet" href="editProduct.css">
</head>
<body>
    
    <h1>Edit product</h1>
    <hr>

    <form class="totalForm" id="totalForm">

    </form>
    <button class="cancelButton" onclick="closeWindow()">
        Cancel
    </button>

    <script src="editProduct.js"></script>

    <script>
        function closeWindow(){
            window.close();
        }
    </script>
    
</body>
</html>