<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price List</title>
    <!--CSS-->
    <link rel="stylesheet" href="index.css">
    
</head>
<body>
    <header>
        <h1>Price List</h1>
        <hr> 
    </header>
    <div class="container">
        <div class="totalProduct">
            <div class="idInfo">
                Id
            </div>
            <div class="nameInfo">
                Name
            </div>
            <div class="descriptionInfo">
                Description
            </div>
            <div class="priceInfo">
                Price
            </div>
        </div>
        <div id="products">
            
        </div>
    </div>

    <script src="index.js"></script>

    <div id="footer">
        App created by <strong>Gonzalo Serra</strong>.
    </div>	
</body>
</html>